  
  .banner {
    display: flex;
    width: 100%;
    height: 570px;
  }
  
  .left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }
  
  .left:before,
  .left:after {
    content: "";
    display: block;
    position: absolute;
  }
  
  .left:before {
    width: 204px;
    height: 170px;
    left: -25px;
    bottom: 25px;
    background: url(../images/keyboard.png) no-repeat center/contain;
  }
  
  .left:after {
    width: 269px;
    height: 151px;
    right: -25px;
    bottom: -25px;
    background: url(../images/headphones.png) no-repeat center/contain;
  }
  
  .content {
    color: var(--green);
    font-weight: 300;
    font-size: 70px;
    line-height: 85px;
    text-align: center;
  }
  
  .content span {
    line-height: 183px;
    font-size: 150px;
    display: block;
  }
  
  .more {
    margin-top: 27px;
  }
  
  .right {
    width: 50%;
    position: relative;
    background-color: var(--light);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    border-radius: 0px 6px 6px 0px;
  }
  
  .discount {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--bg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 24px;
  }
  
  .discount span {
    color: var(--green);
    font-weight: 700;
  }
  
  /* SCREEN */
@media (min-width: 991.99px) {
  
}
/* TABLET */
@media (max-width: 991.98px) {

}
/* MOBILE */
@media (max-width: 767.98px) {
    .content {
        font-size: 39px;
        line-height: 63px;
      }
    .content span {
        line-height: 63px;
        font-size: 99px;
      }
}

/* SMALL MOBILE */
@media (max-width: 567.98px) {
    .left {
        justify-content: flex-start;
      }
    .banner {
        height: 370px;
      }
    .content {
      font-size: 22px;
      line-height: 71px;
    }
    .content span {
        line-height: 53px;
        font-size: 63px;
      }
  }